body {
    background-color:  hsl(207, 26%, 17%);
    color: white;
}

header {
    
    height: 80px;
    width: 100%;
    margin: 0;
    background-color: hsl(209, 23%, 22%);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px;
    box-shadow: 0px 2px 20px 5px rgb(36 36 36);
}
header h5 {
    text-align: center;
    margin-top: 15px;
}

header div{
    display: flex;
}
header div p{
    text-align: center;
    padding-top: 15px;
}

header img {
    height: 26px;
    width: 26px;
    margin: 15px;
}

.container {
    padding: 0;
    margin: 0;
}

.container main{
    width: 85%;
    margin: 30px auto;


}

.input-group{
    box-shadow: 0px 0px 20px 5px rgb(36 36 36);
}

.input-group * {
    
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.dropdown-field{
    margin-top: 20px;
}

.country-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(209, 23%, 22%);
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgb(36 36 36);
}

.country-container img {
    max-width: 100%;
    height: 150px;
    size: fit;
}

.country-small-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;

}

.country-small-info h2{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.country-small-info p{
    text-align: center;
}

.main-section{
    flex-direction: column;
}

.detailed-info{
    display: flex;
    flex-direction: column;
}


.detailed-info img{
    max-width: 100%;
    margin: 15px auto;
}

.detailed-info h2{
    margin-top: 15px;
}


.border-country-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.border-country-parent div{
    border-radius: 5px;
    margin: 15px;
    padding: 10px 20px;
    background-color: #2B3945;
}

.border-country-parent p{
    margin: 0;
    text-align: center;
}

.sb-example-1 .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .sb-example-1 .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  .sb-example-1 .searchTerm:focus{
    color: #00B4CC;
  }
  .sb-example-1 .searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .dropdown-menu{
      display: none;
  }

  .dropdown{
    display: inline-block;
  }

  .dropdown:hover  .dropdown-menu{
    display: block;  
  }

  .dropdown-item{
    display: block;
    text-align: center;
    padding: .25rem 1.5rem;
    text-decoration: none;
  }

  .detailed-info button{
    max-width: 100px;
}

@media only screen and (min-width: 475px){
    

    header h5 {
        font-size: 25px;
    }
    .container{
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .search-field{
        max-width: 390px;
    }

    .results{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 1560px;
        margin: 15px auto;
    }

    .country-container{
        /* flex: 1 0 21%; */
        width: 330px;
    }
}

@media only screen and (min-width: 900px){

    .search-section{
        display: flex;
        margin: auto;
        justify-content: space-between;
        flex-direction: row;
        max-width: 1560px;
        width: 100%;
        
    }

    .search{
        width: 300px !important;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .detailed-info{
        max-width: 770px;
        margin: 0px auto;
    }

    .main-detail-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main-detail-container img{
        max-width: 450px;
        max-height: 300px;
    }

    .border-country-parent{
        max-width: 350px;
        margin: 0 auto;
    }


    .border-countries h4{
        text-align: center;
        border-bottom: 3px solid white ;
    }
}

