body {
    background-color:  hsl(207, 26%, 17%);
    color: white;
}

header {
    
    height: 80px;
    width: 100%;
    margin: 0;
    background-color: hsl(209, 23%, 22%);
    display: flex;
    justify-content: space-between;

    box-shadow: 0px 2px 20px 5px rgb(36 36 36);
}
header h5 {
    text-align: center;
    margin-top: 10px;
}

header div{
    display: flex;
}
header div p{
    text-align: center;
    padding-top: 15px;
}

header img {
    height: 26px;
    width: 26px;
    margin: 15px;
}

.container {
    width: 100%;
    padding: 0;
}

.container main{
    width: 85%;
    margin: 30px auto;


}

.input-group{
    box-shadow: 0px 0px 20px 5px rgb(36 36 36);
}

.input-group * {
    
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.dropdown-field{
    margin-top: 20px;
}

.country-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(209, 23%, 22%);
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgb(36 36 36);
}

.country-container img {
    max-width: 100%;
    height: 150px;
    size: fit;
}

.country-small-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;

}

.country-small-info h2{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.country-small-info p{
    text-align: center;
}

.main-section{
    flex-direction: column;
}

.detailed-info{
    display: flex;
    flex-direction: column;
}


.detailed-info img{
    max-width: 100%;
    margin: 15px auto;
}

.detailed-info h2{
    margin-top: 15px;
}


.border-country-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.border-country-parent div{
    border-radius: 5px;
    margin: 15px;
    padding: 10px 20px;
    background-color: #2B3945;
}

.border-country-parent p{
    margin: 0;
    text-align: center;
}
